.control-panel {
  width: 960px;
  height: 250px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -480px;
}
.controls {
  width: 100%;
  height: 190px;
  position: absolute;
  bottom: 0px;
  background: #3e627e;
  background: -moz-linear-gradient(-45deg, #3e627e 0%, #838484 50%, #528d9f 100%);
  background: -webkit-linear-gradient(-45deg, #3e627e 0%, #838484 50%, #528d9f 100%);
  background: linear-gradient(135deg, #3e627e 0%, #838484 50%, #528d9f 100%);
}
.nav-control {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0px;
  background-color: #fff;
  opacity: 0.1;
}
.tab {
  cursor: pointer;
  width: 280px;
  height: 60px;
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 60px;
  background-color: #538c9e;
  left: 340px;
}
.tab.selected {
  z-index: 20;
  height: 70px;
  background-color: #012734;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.467);
}
.tab:first-child {
  left: 60px;
  border-radius: 15px 0 0 0;
}
.tab:last-child {
  left: inherit;
  right: 60px;
  border-radius: 0 15px 0 0;
}
.tab:last-child:before {
  width: 1px;
  height: 40px;
  position: absolute;
  background-color: rgba(255,255,255,0.467);
  display: block;
  z-index: 20;
  top: 10px;
  content: ' ';
}
.side {
  cursor: pointer;
  width: 160px;
  height: 160px;
  float: left;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.side:before {
  width: 1px;
  height: 160px;
  position: absolute;
  background-color: rgba(255,255,255,0.467);
  display: block;
  content: ' ';
}
.side.selected {
  color: #f0a322;
}
.side.selected:after {
  width: 160px;
  height: 3px;
  top: 157px;
  position: absolute;
  background-color: #f0a322;
  display: block;
  content: ' ';
}
.side span {
  display: block;
  margin-top: 60px;
}
.color-pik {
  width: 960px;
  height: 70px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -480px;
}
.color-pik div {
  cursor: pointer;
  width: 40px;
  height: 30px;
  margin: 20px;
  box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
  float: left;
  border-radius: 10px;
}
#scene {
  width: 800px;
  height: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}
@media (min-height: 520px) {
  #scene {
    top: -265px;
  }
}
@media (min-height: 540px) {
  #scene {
    top: -255px;
  }
}
@media (min-height: 560px) {
  #scene {
    top: -245px;
  }
}
@media (min-height: 580px) {
  #scene {
    top: -235px;
  }
}
@media (min-height: 600px) {
  #scene {
    top: -225px;
  }
}
@media (min-height: 620px) {
  #scene {
    top: -215px;
  }
}
@media (min-height: 640px) {
  #scene {
    top: -205px;
  }
}
@media (min-height: 660px) {
  #scene {
    top: -195px;
  }
}
@media (min-height: 680px) {
  #scene {
    top: -185px;
  }
}
@media (min-height: 700px) {
  #scene {
    top: -175px;
  }
}
@media (min-height: 720px) {
  #scene {
    top: -165px;
  }
}
@media (min-height: 740px) {
  #scene {
    top: -155px;
  }
}
@media (min-height: 760px) {
  #scene {
    top: -145px;
  }
}
@media (min-height: 780px) {
  #scene {
    top: -135px;
  }
}
@media (min-height: 800px) {
  #scene {
    top: -125px;
  }
}
@media (min-height: 820px) {
  #scene {
    top: -115px;
  }
}
@media (min-height: 840px) {
  #scene {
    top: -105px;
  }
}
@media (min-height: 860px) {
  #scene {
    top: -95px;
  }
}
@media (min-height: 880px) {
  #scene {
    top: -85px;
  }
}
@media (min-height: 900px) {
  #scene {
    top: -75px;
  }
}
@media (min-height: 920px) {
  #scene {
    top: -65px;
  }
}
@media (min-height: 940px) {
  #scene {
    top: -55px;
  }
}
@media (min-height: 960px) {
  #scene {
    top: -45px;
  }
}
@media (min-height: 980px) {
  #scene {
    top: -35px;
  }
}
@media (min-height: 1000px) {
  #scene {
    top: -25px;
  }
}
@media (min-height: 1020px) {
  #scene {
    top: -15px;
  }
}
@media (min-height: 1040px) {
  #scene {
    top: -5px;
  }
}
@media (min-height: 1060px) {
  #scene {
    top: 5px;
  }
}
@media (min-height: 1080px) {
  #scene {
    top: 15px;
  }
}
@media (min-height: 1100px) {
  #scene {
    top: 25px;
  }
}
